@tailwind base;
@tailwind components;
@tailwind utilities;

/* ---------------------- Colors & Tailwind ---------------------- */
@layer base {
  :root {
    /* Softer pastels */
    --background: 44, 93%, 95%;
    --foreground: 222, 47%, 11%;
    
    --muted: 210, 40%, 96%;
    --muted-foreground: 215, 16%, 47%;
    
    --card: 50, 70%, 90%;
    --card-foreground: 222, 47%, 11%;
    
    --primary: 54, 100%, 80%;
    --primary-foreground: 222, 47%, 11%;
    
    --secondary: 200, 80%, 90%;
    --secondary-foreground: 222, 47%, 11%;
    
    --accent: 330, 80%, 90%;
    --accent-foreground: 222, 47%, 11%;
    
    --destructive: 0, 70%, 80%;
    --destructive-foreground: 222, 47%, 11%;
    
    --radius: 1rem;
    --ring: 210, 60%, 80%;

    /* Fonts */
    --font-title: "Pacifico";
    --font-body: "SourGummy";
  }

  body {
	letter-spacing: 0.25rem;
    @apply bg-[hsl(var(--background))] text-[hsl(var(--foreground))] font-sans;
  }

  h1, h2, h3, h4, h5, h6 {
    color: hsl(var(--primary-foreground));
  }

  a {
    transition: color 0.3s;
  }

  a:hover {
    color: hsl(var(--secondary-foreground));
  }


}



/* Global smooth scroll */
html {
  scroll-behavior: smooth;
}


/* Tr to cover outline in ios build */
