@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
	--background: #070707;
	--foreground: #252e35;

	--title: #EDEDED;
	--base: #c8c8c8;


	--accent: #6d95ca;
	--accent-foreground: #131b25;
}
