@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #f8f8f8;
	--foreground: #ffffff;
	
	--title: #000000;
	--base: #383838;

	--accent: #166CFF;
	--accent-other: #ffffff;
}
body {
	margin: 0;
}
p {
	font-size: 20px;
}

/* mt-8 hover:rounded-xl transition-all cursor-pointer bg-[var(--accent)] text-[var(--accent-foreground)] */
.button {
	cursor: pointer;
	background: var(--accent);
	color: var(--accent-other);
	border-radius: 0.3rem;
}
